a {
  text-decoration: none;
  color: #A9A3E4; }
a:focus, a:hover {
  text-decoration: underline;
  color: #C8C3EE; }
#title {
  color: #E2E2E2; }
#quote {
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 10pt;
  padding: 0px; }
h1, h2 {
  margin-bottom: 0px;
  padding-bottom: 0px; }
body {
  background-color: #2A2A2A;
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #E2E2E2;
  padding: 0 10px }
footer {
  font-size: 12pt;
  margin-top: 15px; }
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  color: #BCDCB3;
  font-size: 90%;
  white-space: nowrap;
  background: #3C3C3C;
  border: 1px solid #3C3C3C; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }
